{{define "title"}}App - AgentGate{{end}}

{{define "head"}}{{end}}

{{define "body"}}
<div id="encrypted-data" data-value="{{.EncryptedData}}" style="display:none"></div>
<div id="expires-at" data-value="{{.ExpiresAt}}" style="display:none"></div>
<div id="share-meta"
     data-id="{{.ID}}"
     data-kind="{{.Kind}}"
     data-never-expires="{{if .NeverExpires}}1{{else}}0{{end}}"
     style="display:none"></div>

<div id="app"></div>

<script src="/static/js/crypto.js"></script>
<script src="/static/js/passphrase.js"></script>
<script src="/static/js/settings.js"></script>
<script src="/static/js/expiry-controls.js"></script>
<script src="/static/js/app-viewer.js"></script>
{{end}}

{{template "layout" .}}
